.DS_Store
KingKongData/*
rawdata/*
DataAnalysis/forcedata/*
matlab/*.mat
matlab/data/*
matlab/prelimSubjectsRawPlots/images/*
matlab/prelimSubjectsRawPlots/*.aux
matlab/prelimSubjectsRawPlots/*.log
matlab/prelimSubjectsRawPlots/*.pdf
matlab/prelimSubjectsRawPlots/*.gz